Repository Layr-Labs/eigenlayer-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eigensid, @teddyknox, @dabit3, @wesfloyd, @tinahaibodi, @bpm333, @joan-el, @scotthconner, @QuinnLee, @ropcode, @antojoseph, @anupsv, @wadealexc, @NimaVaziri, @afkbyte, @stevennevins, @samlaf, @0xkydo, @cryptogakusei, @jianoaix, @mooselumph

.github/CODEOWNERS:

* @eigensid @teddyknox @dabit3 @wesfloyd @tinahaibodi
docs/eigenlayer/ @bpm333 @joan-el @scotthconner @QuinnLee
docs/eigenlayer/security @ropcode @antojoseph @anupsv @wadealexc
docs/eigenlayer/avs-guides/ @NimaVaziri @afkbyte @stevennevins @samlaf @0xkydo
docs/eigenlayer/risk/ @0xkydo @cryptogakusei 
docs/eigenda/ @teddyknox @eigensid @jianoaix @mooselumph

Fix link to key terms (#158)
  docs/eigenda/operator-guides/networks/goerli.md
  docs/eigenda/rollup-guides/op-stack/deploying-op-stack-+-eigenda-locally.md
  docs/eigenlayer/overview/README.md
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/README.md
  docs/eigenlayer/security/guardrails.md
Owners: @teddyknox, @eigensid, @jianoaix, @mooselumph, @bpm333, @joan-el, @scotthconner, @QuinnLee, @ropcode, @antojoseph, @anupsv, @wadealexc

various minor docs updates
  docs/eigenda/operator-guides/networks/goerli.md
  docs/eigenda/operator-guides/networks/mainnet.md
  docs/eigenda/operator-guides/operator-faq.md
  docs/eigenda/rollup-guides/op-stack/README.md
  docs/eigenda/rollup-guides/op-stack/deploying-op-stack-+-eigenda-locally.md
  docs/eigenda/rollup-guides/tutorial.md
  docusaurus.config.js
Owners: @teddyknox, @eigensid, @jianoaix, @mooselumph, @dabit3, @wesfloyd, @tinahaibodi

Various minor docs updates (#159)
  docs/eigenda/operator-guides/networks/goerli.md
  docs/eigenda/operator-guides/networks/mainnet.md
  docs/eigenda/operator-guides/operator-faq.md
  docs/eigenda/rollup-guides/op-stack/README.md
  docs/eigenda/rollup-guides/op-stack/deploying-op-stack-+-eigenda-locally.md
  docs/eigenda/rollup-guides/tutorial.md
  docusaurus.config.js
Owners: @teddyknox, @eigensid, @jianoaix, @mooselumph, @dabit3, @wesfloyd, @tinahaibodi

Update obtaining-testnet-eth-and-liquid-staking-tokens-lsts.md
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/stage-2-testnet/obtaining-testnet-eth-and-liquid-staking-tokens-lsts.md
Owners: @bpm333, @joan-el, @scotthconner, @QuinnLee

Removing LsETH from testnet instructions (#160)
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/stage-2-testnet/obtaining-testnet-eth-and-liquid-staking-tokens-lsts.md
Owners: @bpm333, @joan-el, @scotthconner, @QuinnLee

Clarifying operator - restaker - address and delegation best practices
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/stage-2-testnet/testnet-restaker-delegation/README.md
Owners: @bpm333, @joan-el, @scotthconner, @QuinnLee

Update Lodestar documentation references (#119)
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/native-restaking/repointing-a-validators-withdrawal-credentials.md
  docs/eigenlayer/restaking-guides/0-restaking-user-guide/native-restaking/withdrawal-flow/withdrawing-a-validator-from-consensus-layer.md
Owners: @bpm333, @joan-el, @scotthconner, @QuinnLee

Remove invalid markdown link in operator-installation.md
  docs/eigenlayer/operator-guides/operator-installation.md
Owners: @bpm333, @joan-el, @scotthconner, @QuinnLee
